:root {
  --clr-primary--300: hsl(25, 100%, 94%);
  --clr-primary--350: hsl(26, 100%, 55%, 20%);
  --clr-primary--380: hsl(26, 100%, 55%, 50%);
  --clr-primary--400: hsl(26, 100%, 55%);

  --clr-neutral--300: hsl(223, 64%, 98%);
  --clr-neutral--400: hsl(220, 14%, 75%);
  --clr-neutral--500: hsl(219, 9%, 45%);
  --clr-neutral--600: hsl(220, 13%, 13%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-white-opacity: hsl(0, 0%, 100%, 40%);
  --clr-black-opacity: hsla(0, 0%, 0%, 0.7);
  --clr-black: hsl(0, 0%, 0%);

  --spacer-100: 0.25rem;
  --spacer-200: 0.5rem;
  --spacer-300: 0.75rem;
  --spacer-400: 1rem;
  --spacer-500: 1.5rem;
  --spacer-550: 1.75rem;
  --spacer-600: 2rem;
  --spacer-700: 2.5rem;
  --spacer-800: 3.6rem;

  --fs-300: 0.75rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
}

/* utility */

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.container {
  padding: var(--spacer-400);
}

.flex {
  display: flex;
}

.gap-400 {
  gap: var(--spacer-400);
}

.gap-500 {
  gap: var(--spacer-500);
}

.gap-600 {
  gap: var(--spacer-600);
}

.gap-700 {
  gap: var(--spacer-700);
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.clr__primary {
  color: var(--clr-primary--400);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.padding-block-400 {
  padding-block: var(--spacer-400);
}

.stripe {
  text-decoration: line-through;
  color: var(--clr-neutral--400);
}

.bold {
  font-weight: 700;
}

.accent__text {
  font-size: var(--fs-300);
  font-weight: bold;
  letter-spacing: 2px;
}

.space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.discount {
  padding: var(--spacer-100) var(--spacer-200);
  background-color: var(--clr-primary--350);
  color: var(--clr-primary--400);
  font-size: var(--fs-300);
  font-weight: 700;
  border-radius: 5px;
}

@media (min-width: 62em) {
  .container {
    --spacer-container: min(10vw, 12rem);
    padding: var(--spacer-550) var(--spacer-container);
  }
}

/* End utility */

/* Svg */

svg {
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  overflow: visible;
}

.svg--menu {
  stroke: rgba(105, 112, 125, 1);
}

.svg--logo {
  stroke: rgba(29, 32, 38, 1);
}

.svg--cart {
  stroke: rgba(105, 112, 125, 1);
}

/* End Svg */

/* NavBar */

.navBar {
  --border-tickness: 2px;

  align-items: center;
  border-bottom: var(--border-tickness) solid var(--clr-neutral--300);
  padding-bottom: var(--spacer-600);
}

.navBar__items > ul {
  color: var(--clr-neutral--300);
}

.navbar__link,
.navbar__link:is(visited) {
  color: var(--clr-neutral--500);
}

.navbar__link:is(:hover, :focus-within) {
  --border-tickness: 4px;

  color: var(--clr-neutral--600);
  padding-bottom: var(--spacer-800);
  border-bottom: var(--border-tickness) solid var(--clr-primary--400);
}

.navBar__cart {
  margin-left: auto;
  align-items: center;
}

.navBar__cart--btn {
  border: 0;
  background-color: transparent;
}

.navBar__cart--btn:is(:hover, :focus-within) {
  cursor: pointer;
}

.navBar__cart--btn:is(:hover, :focus-within) :is(path, svg) {
  stroke: var(--clr-neutral--600);
  fill: var(--clr-neutral--600);
}

.navbar__cart--img {
  --img-width: 5rem;

  width: var(--img-width);
}

.navbar__cart--img:is(:hover, :focus-within) {
  --border-tickness: 3px;

  border-radius: 9999999999999999vw;
  outline: var(--border-tickness) solid var(--clr-primary--400);
}

.hamburguer__menu {
  display: none;
}

@media (max-width: 1000px) {
  .container:has(> .navBar) {
    padding-bottom: 0;
  }
  .navBar {
    padding: var(--spacer-300);
  }
  .navBar__cart {
    gap: var(--spacer-400);
  }
  .navbar__cart--img {
    --img-width: 3rem;
  }
  .hamburguer__menu {
    display: block;
    border: 0;
    background-color: transparent;
  }
  .hamburguer__menu:is(:hover, :focus-within) {
    cursor: pointer;
  }
  .navBar__items {
    inset: 0;
    position: absolute;

    background-color: var(--clr-black-opacity);
    z-index: 2;
  }
  .navBar__items::after {
    content: "";
    position: absolute;
    inset: 0 30% 0 0;
    background-color: var(--clr-white);
  }
  .navBar__items--list {
    z-index: 9999;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    font-weight: 700;
  }
  .hamburguer__menu--close {
    position: absolute;
    top: -6rem;
  }
  .navbar__link:is(:hover, :focus-within) {
    border: none;
  }
}

/* End NavBar */

/* Main */

.main {
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 62em) {
  .main {
    --spacer-container: min(10vw, 12rem);

    flex-direction: row;
    padding-inline: calc(var(--spacer-container) + var(--spacer-400));
    padding-block: var(--spacer-800);

    align-items: center;
  }
}

/* End Main */

/* Photos */

.bigPhoto__container {
  position: relative;
}

.arrow {
  position: absolute;
  background-color: var(--clr-white);
  border-radius: 9999999vw;
  padding: var(--spacer-400);
  top: 50%;
  left: var(--spacer-400);
  transform: translateY(-50%);
  width: 50px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}

.rightArrow {
  right: var(--spacer-400);
  left: auto;
}

.smallPhotos__container {
  display: none;
}

@media (min-width: 62em) {
  .bigPhoto__container img {
    border-radius: 15px;
    min-width: 400px;
    width: 100%;
    max-width: 500px;
  }
  .arrow {
    display: none;
  }

  .smallPhotos__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: var(--spacer-500);
    gap: var(--spacer-400);
    max-width: 500px;
  }
  .smallPhotos__container > img {
    border-radius: 15px;
  }
  .photoFocus {
    opacity: 0.5;
    outline: 5px solid var(--clr-primary--400);
  }

  .smallPhotos__container:is(:hover) {
    cursor: pointer;
  }
}

/* End Photos */

/* Infos */

.infos__text--description {
  color: var(--clr-black-opacity);
}

.infos__text h2 {
  line-height: 1;
}

.info__cart--quantity {
  justify-content: space-evenly;
  padding: var(--spacer-300);
  background-color: var(--clr-neutral--300);
  border-radius: 5px;
}

.btn__primary {
  border: none;
  border-radius: 10px;
  padding: var(--spacer-400);

  color: var(--clr-white);
  background-color: var(--clr-primary--400);
  fill: var(--clr-white);

  display: flex;
  justify-content: center;
  gap: var(--spacer-400);
  box-shadow: 0 10px 5px 0px var(--clr-primary--350);
}

.btn__primary:is(:hover) {
  cursor: pointer;
  background-color: var(--clr-primary--380);
}

.quantityChange:is(:hover, :focus-within) > * {
  cursor: pointer;
  opacity: 0.65;
}

@media (min-width: 62em) {
  .infos {
    max-width: 1000px;
  }
  .infos__text {
    --fs-800: 3rem;
  }
  .infos__prices {
    flex-direction: column;
    align-items: self-start;
  }
  .info__cart {
    flex-direction: row;
  }
  .info__cart > div {
    flex: 1;
  }
  .info__cart > button {
    flex: 2;
  }
}

/* End Infos */
